@mixin arrow($size, $dir, $color, $border-width, $border-color){
	position: relative;
	&:after {
		bottom: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-width: $size;	
	}
	@if ($border-width != 0) {
		&:before {
		bottom: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;				
			border-width: ($size + $border-width);	
		}
	}
	@if ($dir == "top") {
		&:after {
			border-bottom-color: $color;
			left: 50%;
			margin-left: -$size;
		}
		@if ($border-width != 0) {
			&:before {
				border-bottom-color: $border-color;
				margin-left: -($size + $border-width);
				left: 50%;
			}
		}
	}@else if ($dir == "bottom") {
		&:after {
			border-top-color: $color;
			left: 50%;
			top: 100%;
			margin-left: -$size;
		}
		@if ($border-width != 0) {
			&:before {
				border-top-color: $border-color;
				margin-left: -($size + $border-width);			
				left: 50%;
				top: 100%;
			}
		}
	}@else if ($dir == "left") {
		&:after {
			border-right-color: $color;
			left: 0%;
			top: 50%;
			margin-left: -($size*2);
			margin-top: -($size);
		}
		@if ($border-width != 0) {
			&:before {
				border-right-color: $border-color;
				left: 0%;
				top: 50%;
				margin-left: -(($size*2) + ($border-width * 2));
				margin-top: -($size + $border-width);
			}
		}
	}@else if ($dir == "right") {
		&:after {
			border-left-color: $color;
			left: 100%;
			top: 50%;
			margin-right: -($size*2);
			margin-top: -($size);
		}
		@if ($border-width != 0) {
			&:before {
				border-left-color: $border-color;
				left: 100%;
				top: 50%;
				margin-right: -(($size * 2) + ($border-width * 2));
				margin-top: -($size + $border-width);
			}
		}
	}


}