@mixin gradient($dir, $R1, $G1, $B1, $A1, $R2, $G2, $B2, $A2) {
	@if ($dir == 'up') {
		$R3:$R1; $G3:$G1; $B3:$B1; $A3:$A1; //swap first colour with second
		$R1:$R2; $G1:$G2; $B1:$B2; $A1:$A2;
		$R2:$R3; $G2:$G3; $B2:$B3; $A2:$A3;
	}
	background: rgba($R1, $G1, $B1, $A1);
	background: -moz-linear-gradient(top, rgba($R1, $G1, $B1, $A1), (rgba($R2, $G2, $B2, $A2) 100%)); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($R1, $G1, $B1, $A1)), color-stop(100%,(rgba($R2, $G2, $B2, $A2)))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba($R1, $G1, $B1, $A1) 0%,(rgba($R2, $G2, $B2, $A2))); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba($R1, $G1, $B1, $A1) 0%,(rgba($R2, $G2, $B2, $A2) 100%)); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba($R1, $G1, $B1, $A1) 0%,(rgba($R2, $G2, $B2, $A2) 100%)); /* IE10+ */
	background: linear-gradient(to bottom, rgba($R1, $G1, $B1, $A1) 0%,(rgba($R2, $G2, $B2, $A2) 100%)); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str(rgba($R1, $G1, $B1, $A1))}', endColorstr='#{ie-hex-str((rgba($R2, $G2, $B2, $A2)))}');
}